$radiusMenu: 8px;
$font-size: 12px;
$color: #757575;
$menuColor: #e2e2e2;
$turkus: #83E6CE;
$braz: #593216;
$menuBg: #698799;

body {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  color: $color;
  font-size: 16px;
}
h3{
  padding: 1em;
  font-size: 3em;
}
.container{
  //border: 1px solid;
}
.clear{
  clear: both;
}
.burger{
  display: block;
  float: right;
  margin: 0 20px 0 0;
  background: $menuBg;
  color: $turkus;
  padding: 8px 15px;
  font-size: 1.1em;
  font-weight: 600;
  font-family: helvetica, serif;
  -webkit-border-radius: $radiusMenu;
  -moz-border-radius: $radiusMenu;
  border-radius: $radiusMenu;
  cursor: pointer;
}
.menuActive ul li{
  display: block;
}
nav ul li{
  display: none;
  //float: left;
  background: $menuBg;
  padding: 8px 15px;
  font-size: 1.1em;
  font-weight: 600;
  font-family: helvetica, serif;
  -webkit-border-radius: $radiusMenu;
  -moz-border-radius: $radiusMenu;
  border-radius: $radiusMenu;
}
nav ul li:hover{
  background: darken($menuBg, 10%);
}
nav a{
  color: $menuColor;
  text-decoration: none;
  display: block;
}
nav li.active{
  color: #83E6CE;
}
nav a:hover{
  color: #83E6CE;
}
article{
  padding: 1em 0;
  min-height: 300px;
}
.team{
  text-align: center;
}
.team > div{
  width: 100%;
  margin-bottom: 3em;
}
.team > div img{
  max-width: 150px;
  background: #b6b6b6;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 75px;
  padding: 20px;
}

/*resolution min 769px*/
@media screen and (min-width: 769px){
  header{
    padding: 1em;
  }
  .burger{
    display: none;
  }
  //nav{
  //  background: $color;
  //  padding: 1em 0;
  //}
  nav ul{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    //position: fixed;
  }
  nav ul li{
    display: block;
    float: left;
  }
  .team > div {
    width: 33%;
    float: left;
  }
}