body {
  font-family: new helvetica, monospace;
  font-size: 16px; }

h2 {
  padding: 1em;
  font-size: 3em;
  font-weight: 700;
  color: #593216; }

/*---Slider---*/
.slider_container {
  background-color: #eaeaea; }

.slider_container .slider_blok {
  background: linear-gradient(to bottom left, #fffff0, #d6fcfc);
  padding-left: 0;
  padding-right: 0; }

.slider_container .slider_blok:hover {
  background: linear-gradient(to bottom right, #fffff0, #d6fcfc);
  padding-left: 0;
  padding-right: 0; }

/*---Big block---*/
.item .col-md-7 {
  padding-right: 0px; }

/*---Small block---*/
.item .col-md-4 {
  padding-top: 10px;
  line-height: 1;
  padding-bottom: 40px; }

.item .col-md-4 h1 {
  font-weight: bold;
  color: #83e6ce;
  font-size: 45px;
  font-family: helvetica, sans-serif;
  text-shadow: 2px 2px 3px #c1cdcd; }

.item .col-md-4 p {
  font-weight: 300;
  text-transform: uppercase;
  color: #1e1b1a;
  font-size: 20px;
  text-shadow: 2px 2px 3px #c1cdcd;
  font-family: helvetica, sans-serif; }

.item .text-center {
  clear: both; }

/*---Button---*/
.item .button_slider {
  margin-top: 50px;
  margin-bottom: 30px; }

.item .btn a {
  color: #373737;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-family: helvetica, sans-serif;
  font-size: 16px; }

.item button {
  border: 1px solid green;
  padding: 15px 20px 15px 20px;
  button: 2em;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px #969696;
  -moz-box-shadow: 2px 2px 2px #969696;
  box-shadow: 2px 2px 2px #969696;
  background-image: -webkit-linear-gradient(to top, #D5FCF2, #83E6CE);
  background-image: -moz-linear-gradient(to top, #D5FCF2, #83E6CE);
  background-image: -o-linear-gradient(to top, #D5FCF2, #83E6CE);
  background-image: -ms-linear-gradient(to top, #D5FCF2, #83E6CE);
  background-image: linear-gradient(to top, #D5FCF2, #83E6CE);
  outline: 0; }

.item button:hover {
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 2px #969696;
  -moz-box-shadow: 1px 1px 2px #969696;
  box-shadow: 1px 1px 2px #969696;
  background-image: -webkit-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -moz-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -o-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -ms-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: linear-gradient(to bottom, #D5FCF2, #83E6CE); }

.item button:active {
  border-radius: 5px;
  text-shadow: 1px 1px 2px #969696;
  -webkit-box-shadow: -1px -1px 2px #969696;
  -moz-box-shadow: -1px -1px 2px #969696;
  box-shadow: -1px -1px 2px #969696;
  background-image: -webkit-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -moz-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -o-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -ms-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: linear-gradient(to bottom, #D5FCF2, #83E6CE); }

/*---The side buttons of the slider----*/
.carousel-control {
  width: 5%; }

.carousel-control:hover {
  width: 6%; }

.carousel-indicators li {
  border: 1px solid #c8c8c8; }

.carousel-indicators li:hover {
  background-color: #c8c8c8; }

.carousel-control.left {
  background-image: none;
  background-color: rgba(232, 232, 232, 0.2); }

.carousel-control.right {
  background-image: none;
  background-color: rgba(232, 232, 232, 0.2); }

.carousel-control.left:hover {
  background-image: none;
  background-color: rgba(232, 232, 232, 0.3); }

.carousel-control.right:hover {
  background-image: none;
  background-color: rgba(232, 232, 232, 0.3); }

/*----Photo Transport----*/
.item .img-responsive {
  opacity: 0.95; }

.item .img-responsive:hover {
  opacity: 1; }

/*----Media----*/
@media (max-width: 992px) {
  .item .img-responsive {
    display: none; } }
@media (min-width: 450px) and (max-width: 992px) {
  .photo_one {
    background: url(../img/tramwaj1.png) no-repeat; }

  .photo_two {
    background: url(../img/bus1.png) no-repeat; }

  .photo_three {
    background: url(../img/train1.png) no-repeat; } }
@media (min-width: 273px) and (max-width: 450px) {
  .photo_one, .photo_two, .photo_three {
    background: url(../img/godlo.png) center no-repeat; } }
/*---End Slider---*/
.content {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 35px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 35px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px -9px rgba(0, 0, 0, 0.75); }

.navbar-default .navbar-brand {
  font-size: 3em;
  margin: 0 0 0 1em;
  color: #593216;
  font-weight: 700; }

.navbar-logo img {
  width: 242px;
  height: auto;
  margin-left: 50px;
  margin-right: 50px; }

.navbar-nav {
  margin-top: 25px; }

.navbar-toggle {
  margin-top: 32px; }

.navbar-toggle:hover {
  margin-top: 31px; }

.navbar {
  margin: 0;
  padding: 2em 2em 2em 0;
  -webkit-border-top-left-radius: 20px;
  -moz-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-top-right-radius: 20px;
  border-top-right-radius: 20px; }
  .navbar ul li {
    font-size: 1.1em;
    font-weight: 700;
    background: #698799;
    padding: .5em 2em;
    margin: .5em;
    font-family: helvetica, serif;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; }
  .navbar ul li:hover {
    background: #546c7b;
    cursor: pointer; }
  .navbar .navbar-collapse ul li a {
    padding: 0;
    color: #e2e2e2; }
  .navbar .navbar-collapse ul li:hover a {
    color: #83E6CE; }

.product-info {
  background: #83E6CE;
  text-align: center;
  padding: 1em 0 3em 0;
  margin-top: -3px; }
  .product-info i {
    font-size: 3em; }
  .product-info div > div {
    margin: 5%;
    padding: 3%;
    border: 1px dashed #593216;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: background 0.8s linear;
    -moz-transition: background 0.8s linear;
    -ms-transition: background 0.8s linear;
    -o-transition: background 0.8s linear; }
  .product-info div > div:hover {
    background: #757575;
    color: #83E6CE; }

.team {
  text-align: center;
  background: #e2e2e2; }
  .team > div {
    margin-bottom: 3em;
    color: #000000;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s; }
  .team > div:hover {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }
  .team > div img {
    max-width: 150px;
    background: #ffffff;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    padding: 20px;
    margin: 0 0 2em 0;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s; }
  .team > div:hover img {
    -webkit-transform: rotateZ(-180deg);
    -moz-transform: rotateZ(-180deg);
    -ms-transform: rotateZ(-180deg);
    -o-transform: rotateZ(-180deg);
    transform: rotateZ(-180deg); }
  .team > div p {
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s; }
  .team > div:hover p {
    transform: rotateX(180deg) rotateY(180deg); }

.details {
  background-color: #83E6CE;
  text-align: center; }
  .details .details-header {
    background-color: #e2e2e2;
    text-align: center;
    padding-top: 20px;
    margin: inherit; }
  .details .details-body {
    background-color: #e2e2e2;
    margin: 1%;
    padding: 10%;
    text-align: justify; }
  .details .details-footer {
    margin-top: 30px;
    text-align: center; }

.subscribe {
  text-align: center;
  padding-bottom: 5em; }
  .subscribe form {
    text-align: center; }
  .subscribe input {
    width: 70%;
    font-size: 1.5em;
    color: #593216;
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 1em; }

footer {
  background: #83E6CE;
  text-align: center;
  padding: .5em 0 0 0;
  font-size: 5em;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }
  footer h3 {
    font-size: .4em; }
  footer a {
    color: #593216; }
  footer a:hover {
    color: #593216; }
  footer i {
    margin: 0 20px 1em 0;
    -webkit-transition: transform 0.4s linear;
    -moz-transition: transform 0.4s linear;
    -ms-transition: transform 0.4s linear;
    -o-transition: transform 0.4s linear; }
  footer .rights {
    width: 100%;
    text-align: center;
    font-size: .2em;
    padding: 2em 0 1em 0;
    position: absolute; }

footer i:hover {
  transform: rotateZ(360deg); }

button {
  margin-bottom: 2px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 1.5em;
  color: #757575;
  font-weight: 700;
  padding: 1em 4em;
  cursor: pointer;
  border: 1px solid #6BC29D;
  -webkit-box-shadow: 2px 2px 2px #969696;
  -moz-box-shadow: 2px 2px 2px #969696;
  box-shadow: 2px 2px 2px #969696;
  background-image: -webkit-linear-gradient(to top, #D5FCF2, #83E6CE);
  background-image: -moz-linear-gradient(to top, #D5FCF2, #83E6CE);
  background-image: -o-linear-gradient(to top, #D5FCF2, #83E6CE);
  background-image: -ms-linear-gradient(to top, #D5FCF2, #83E6CE);
  background-image: linear-gradient(to top, #D5FCF2, #83E6CE);
  outline: 0; }

button:hover {
  margin-top: 2px;
  margin-bottom: 0px;
  -webkit-box-shadow: 1px 1px 2px #969696;
  -moz-box-shadow: 1px 1px 2px #969696;
  box-shadow: 1px 1px 2px #969696;
  background-image: -webkit-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -moz-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -o-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -ms-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: linear-gradient(to bottom, #D5FCF2, #83E6CE); }

button:active {
  border-radius: 20px;
  text-shadow: 1px 1px 2px #969696;
  -webkit-box-shadow: -1px -1px 2px #969696;
  -moz-box-shadow: -1px -1px 2px #969696;
  box-shadow: -1px -1px 2px #969696;
  background-image: -webkit-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -moz-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -o-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -ms-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: linear-gradient(to bottom, #D5FCF2, #83E6CE); }

.details-footer button {
  margin-bottom: 2px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 1.5em;
  color: #757575;
  font-weight: 700;
  padding: 0.5em 1.2em;
  cursor: pointer;
  border: 1px solid #6BC29D;
  -webkit-box-shadow: 2px 2px 2px #969696;
  -moz-box-shadow: 2px 2px 2px #969696;
  box-shadow: 2px 2px 2px #969696;
  background-image: -webkit-linear-gradient(to top, #D5FCF2, #83E6CE);
  background-image: -moz-linear-gradient(to top, #D5FCF2, #83E6CE);
  background-image: -o-linear-gradient(to top, #D5FCF2, #83E6CE);
  background-image: -ms-linear-gradient(to top, #D5FCF2, #83E6CE);
  background-image: linear-gradient(to top, #D5FCF2, #83E6CE);
  outline: 0; }

.details-footer button:hover {
  margin-top: 2px;
  margin-bottom: 0px;
  -webkit-box-shadow: 1px 1px 2px #969696;
  -moz-box-shadow: 1px 1px 2px #969696;
  box-shadow: 1px 1px 2px #969696;
  background-image: -webkit-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -moz-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -o-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -ms-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: linear-gradient(to bottom, #D5FCF2, #83E6CE); }

.details-footer button:active {
  border-radius: 20px;
  text-shadow: 1px 1px 2px #969696;
  -webkit-box-shadow: -1px -1px 2px #969696;
  -moz-box-shadow: -1px -1px 2px #969696;
  box-shadow: -1px -1px 2px #969696;
  background-image: -webkit-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -moz-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -o-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: -ms-linear-gradient(to bottom, #D5FCF2, #83E6CE);
  background-image: linear-gradient(to bottom, #D5FCF2, #83E6CE); }

/*# sourceMappingURL=style.css.map */
